<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.niharika.yetanotherproj">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <!--
        <activity
            android:name=".OneFragment"
            android:label="@string/title_activity_one_fragment" />
        <activity
            android:name=".TwoFragment"
            android:label="@string/title_activity_two_fragment" />
        <activity
            android:name=".ThreeFragment"
            android:label="@string/title_activity_three_fragment" />
        <activity
            android:name=".fragment_four"
            android:label="@string/title_activity_fragment_four"
            android:theme="@style/MyMaterialTheme" />
        -->
        <activity
            android:name=".Login"
            android:theme="@style/Nobar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".Aboutus"
            android:label="@string/title_activity_aboutus"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".Confirm"
            android:label="@string/title_activity_confirm"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/MyMaterialTheme"></activity>
    </application>

</manifest>
